/* ----- Navbar ----- */
.navbar {
    background-color: #081c37;
    border-bottom: 1px solid #ddd;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .welcome-text {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
  }
  .navbar .search-bar {
    position: relative;
    margin-right: 1rem;
  }
  .navbar .search-bar input {
    padding: 0.4rem 2rem 0.4rem 0.8rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .navbar .search-bar i {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
  }
  .navbar .profile-area {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .navbar .profile-area .username {
    font-weight: 500;
    color: #fff;
  }
  .navbar .profile-area img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }
  